body {
  font-family: "poppins", sans-serif !important;
  font-size: 16px;
  color: #07294d;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media screen and (max-width: 991px) and (min-width: 576px) {
  .header-top {
    font-size: 11px;
  }
}

.header {
  background-color: #07294d;
}

@media screen and (max-width: 766px) and (min-width: 576px) {
  .head-logo {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .header-logo > img {
    object-fit: cover;
    width: 220px;
  }
}

.header-icon {
  text-align: center;
  float: left;
  height: 45px;
  width: 45px;
  background-color: #f4f6f9;
  border: 1px solid #eaecf2;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .header-logo > img {
    object-fit: cover;
    width: 200px;
  }
  .login_btn {
    position: absolute;
    top: -100%;
    right: 10%;
  }
}

.nav-area {
  background-color: #f4f6f9;
}
.nav-item a:hover {
  color: #ffc600;
}
.nav-item a {
  font-weight: 700;
}
.dropdown-menu {
  width: 240px;
  position: absolute;
  top: 20px;
  z-index: 99;
  background-color: #fff;
  border-top: 5px solid #ffc600 !important;
  left: 0px;
  border: 1px solid #eee;
  transition: all 0.5s;
  transform: translateY(15px);
  /* opacity: 0; */
  /* visibility: hidden; */
}
.dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.nav-button {
  height: 30px;
  border: none;
}

.login_btn > button {
  height: 50px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.slider {
  content: "";
  background-image: url(images/ovarlay-slide.jpg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.slider-banner > div > img {
  width: 100%;
  padding-bottom: 50px;
}

.slider-bottom > img {
  width: 100%;
  margin-bottom: -10px;
}

.slider-bottom {
  margin-right: -12px;
  margin-left: -15px;
}

@media screen and (max-width: 768px) and (min-width: 100px) {
  .why-choose-us-heading {
    font-size: 200%;
  }
}

.why-chhose-us-box-inner .why-chhose-us-icon {
  border-radius: 100%;
  display: inline-block;
  padding: 20px;
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 40px;
  line-height: 65px;
  margin-bottom: 25px;
  background-color: rgba(7, 41, 77, 0.13);
  color: #07294d;
}

.why-chhose-us-box-inner {
  padding: 30px;
  z-index: 9;
  margin-top: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px 15px;
  box-shadow: 0px 0px 15px rgb(183, 183, 183);
}

.why-chhose-us-content .theme-title,
.why-chhose-us-content .theme-description {
  color: #000;
}

.theme-title {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #07294d;
}

.nav-area-header {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  box-shadow: 0px 0px 15px #eee;
  animation: slide-down 0.7s;
}
.navbar div {
  max-width: 1200px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.banner-area {
  animation: bounceInLeft 1s;
}

.slider-banner {
  animation: bounceInRight 2s;
}

.rating-stars i {
  color: #ffc600;
  font-size: 18px;
  line-height: normal;
  font-weight: 900;
}

.card {
  border-radius: 0;
  border: none;
  padding: 0px;
  margin-top: 50px;
  box-shadow: 0px 0px 15px rgb(226, 225, 225);
}

.popular-cource-area {
  padding: 60px 0px;
  background-image: url(images/background.jpg);
}

.reviews-area {
  background-image: url(images/review-bg.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.event-date {
  position: absolute;
  top: 10px;
  left: 5px;
  background-color: #ffc600;
  width: 80px;
  height: 80px;
  font-weight: bold;
  padding: 15px 12px;
}

.btn-light:hover {
  /* color: #ddf7aa; */
  background-color: #ffc600;
  /* border-color: #455963; */
}

.filters ul {
  text-align: center;
  margin: 30px 0px 0px;
}
.filters ul > li {
  background-color: #eee;
  padding: 5px 25px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
}
.filters ul > li:last-child {
  margin-right: 0px;
}
.filters ul > li.active {
  background-color: #ffc600;
}

/* gallery */

/* Center the content within the gallery items */
.gallery-item {
  position: relative;
}
.single-content-box{
  position: relative;
 padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.gallary-icon{
  position: absolute;
  overflow: hidden;
  margin: auto auto;
  /* left: 0%; */
  /* width: 92%;
  height: 92%; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b1c2ec2;
  opacity: 0;
  font-size: 25px;
  /* border-radius: 10%; */
  /* transform: translate(-50%,-50%); */
}
.gallary-icon > a >i{
  padding: 20px;
  background-color: #ffc600;
  color: #07294d;
  border-radius: 50%;
}
.single-content-box:hover >.gallary-icon {
  animation: fadeInDown 0.5s forwards;
}

.gallary-icon:hover {
  /* Ensure the social icons remain visible when the mouse is over .teacher-image */
  pointer-events: all;
}


/* Apply the fadeIn effect on hover */
.gallary-icon:hover {
  opacity: 1; /* When hovering over .social-icon, set opacity to 1 (fully visible) */
}
.single-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, 10%);
}

/* Additional CSS to ensure images don't exceed their container */
.single-content-box {
  max-width: 100%;
  height: auto;
}

.gallery-item-inner > div > div > img {
  border-radius: 30px;
  /* padding: 10px; */
}
@media screen and (max-width: 1024px) and (min-width: 767px) {
  .single-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(40%, 10%);
  }
  .gallery-item-inner > div > div > img {
    max-width: 250px;
    /* margin-left: 40px; */
  }
}
@media screen and (max-width: 768px) and (min-width: 424px) {
  .single-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, 10%);
  }
  .gallery-item-inner > div > div > img {
    max-width: 200px;
  }
}
@media screen and (max-width: 425px) and (min-width: 376px) {
  .single-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(45%, 10%);
    margin: 0;
    padding: 0;
  }
  .gallery-item-inner > div {
    margin: 0;
    padding: 0;
  }
  .gallery-item-inner > div > div {
    margin: 0;
    padding: 0;
  }
  .gallery-item-inner > div > div > img {
    max-width: 135px;
  }
}

@media screen and (max-width: 375px) {
  .gallery-item {
    .single-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0%, 10%);
      margin: 0;
      padding: 0;
    }
  }
}
/* gallery */

.Team-of-experts-area {
  background-image: url(images/background.jpg);
}

.footer-top {
  background-image: url(images/review-bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.slider {
  background-image: url(images/ovarlay-slide.jpg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.footer-shape {
  margin-top: 0;
  margin: -12px;
}

.footer-shape > img {
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

.card {
  height: 90%;
}

.underline {
  width: 75px;
  border: 2px solid #ffc600;
  margin-bottom: 20px;
}

.footer-title {
  color: #ffc600;
  font-weight: 600;
}

.footer-ul {
  list-style: none;
}

@media screen and (max-width: 425px) {
  .teacher-card {
    max-width: 300px;
  }
  .logo-card {
    max-width: 300px;
  }
}
.teachers {
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.teacher-card {
  position: relative;
}

.teacher-image{
  position: relative;
  overflow: hidden;
}

/* .social-icons {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition:all 2s;
  transform: translateY(-100%);
  background-color: #07294dcb;
}


/* Define the initial state of .social-icon */
/* .teacher-image:hover> .social-icons{
 animation:  fadeInDown 1s;
} */


/* @keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0%);
  }
}  */

.social-icons {
  /* Existing styles remain unchanged */
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #07294dd8;
  opacity: 0; /* Set the initial opacity to 0 to hide the social icons */
}


/* Existing styles remain unchanged */
.social-icons > ul {
  width: 100%;
  padding: 0;
  list-style: none;
  font-size:23px;
  display: flex;
  justify-content: center;
  margin: 10px;

}

.social-icons > ul > li {
  padding: 10px;
  margin-left: 10px;
  align-self: center;
  color: white;
}

.teacher-image:hover > .social-icons {
  animation: fadeInDown 0.5s forwards;
}



.teacher-image:hover {
  /* Ensure the social icons remain visible when the mouse is over .teacher-image */
  pointer-events: all;
}


/* Apply the fadeIn effect on hover */
.social-icon:hover {
  opacity: 1; /* When hovering over .social-icon, set opacity to 1 (fully visible) */
}
.socialicon ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
}

.main-page {
  overflow: hidden;
}
.owl-nav {
  display: none;
}
.owl-dots {
  margin-top: 15px;
  text-align: center;
  display: block !important;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #07294d none repeat scroll 0 0 !important;
  display: inline-block;
  margin: 0 4px;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 0;
  border: 0px;
}
.owl-dots .owl-dot.active {
  width: 25px;
  background: #ffc600 none repeat scroll 0 0 !important;
}
.theme-slider {
  overflow: hidden;
}
.theme-slider .owl-item {
  float: left;
}

.logo {
  display: flex;
  justify-content: center;
}
.footer-ul > li {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 5px;
  align-self: center;
  font-weight: 500;
}

.footer-ul > li > i {
  margin-right: 10px;
  text-align: center;
  padding-top: 5px;
  color: #ffc600;
}

.social {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: Wrap;
  justify-content: space-around;
}

.social > li > i {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 30px;
  height: 55px;
  width: 55px;
}
.social > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.social > li > span {
  width: 120px;
  height: 55px;
  align-self: center;
  padding-top: 14px;
  padding-left: 5px;
}

.pricing-card {
  width: 18rem;
}

.socia-bottom {
  visibility: visible !important;
}

span {
  text-decoration: none;
}

i {
  text-decoration: none;
}
